<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login with Google</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="mb-4">Welcome to Chat Application</h1>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Please sign in with Google to continue</h5>
                        <a href="/oauth2/authorization/google" class="btn btn-primary">
                            <img src="https://www.google.com/favicon.ico" alt="Google" style="height: 20px; margin-right: 5px;">
                            Sign in with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 